body {
    width: 100px;
    height: 100px;
}
.green {
    background-color: green;
    width: 100px;
    height: 100px;
    position: relative;
    left: 200px;
}

.yellow{
    width: 100px;
    height: 100px;
    background-color: yellow;
    position: relative;
    bottom: 100px;
}
.red {
    width: 100px;
    height: 100px;
    background-color: red;
   
    position: relative;
    left: 100px;
    bottom: 200px;
}